<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My photo</title>
</head>
<body>

    <img src="{{ asset('images/me.jpeg') }}" alt="my photo" />

    <h1>Time left till my bday:</h1>

    <h3>{{ countdown }}</h3>
</body>
</html>
